@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body{
    background: rgb(246, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    /* flex treats a layout as one dimensional, it being a row or a colum  */
    display: flex;
    /* push the first and last items to the far left and far right
       while maintaining  the items in between centered */
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo{
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.3);
}


/* ---SELECT-MENU--- */
.selector-img{
    height: 20px;
    width: 20px;
    transition: 0.3s;
}

.select-menu.active .selector-img{
    transform: rotate(-180deg);
}

.select-menu{
   
    margin: 40px 150px 40px 150px;
}

.select-menu .select-btn{
    cursor: pointer;
    display: flex;
    height: 55px;
    background: white;
    border: rgb(247, 235, 214);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    font-size: 18px;
    font-weight: 100;
    color: #1a0004;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu .select-menu-options{
    position: relative;
    padding: 20px;
    background: rgba(255, 198, 92, 0.2);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu-options .option{
    display: flex;
    height: 85px;
    align-items: flex-start;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.88);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.select-menu-options .option:hover{
    background: rgba(0, 0, 0, 0.1);;
}

.select-menu.active .select-menu-options{
    display: block;
}


.option img{
    height: 100px;
    width: 150px;
    margin-right: 10px ;
}


.option .option-text-title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.option .option-text{
    font-size: 13px;
    
    font-weight: 100;
    padding: 10px;
}


/* ---SELECT-MENU--- */
footer{
    margin-top: auto;
    background: rgb(18, 18, 18);
    color: #edf0f1;
    height: auto;
    width: 100%;
    padding-top: 10px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content .message{
    font-size: 10px;
    word-spacing: 1px;
    margin: 0;
    max-height: 250px;
    color: rgba(245, 222, 179, 0.45);
}


.footer-content p{
    max-width: 500px;
    margin: 0px 0 8px 0;
    line-height: 28px;
    font-size: 14px;
    word-spacing: 2px;
}


.footer-content span{
    opacity: .4;
    font-weight: 200;
}